source/ETL/Nifi_Templates/sp_CASE_LAB_DATAMART_20230815.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>b30d6529-0185-1000-75c6-bde3c44d1248</groupId>
    <name>sp_CASE_LAB_DATAMART_20230815</name>
    <snippet>
        <controllerServices>
            <id>97d7b5ba-44fb-398d-0000-000000000000</id>
            <parentGroupId>d38e7f6d-72d3-37d5-0000-000000000000</parentGroupId>
            <versionedComponentId>97d7b5ba-44fb-398d-aa9b-f40efddd4408</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.18.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>Alabama_Z_DB</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:sqlserver://cdc-nbs-alabama-rds-mssql.czya31goozkz.us-east-1.rds.amazonaws.com:1433;integratedSecurity=false;encrypt=false;databaseName=Z;user=admin;password=hW61W1Z5!xX1;authenticationScheme=nativeAuthentication;</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/Users/RakheshKasagani/Downloads/sqljdbc_12.2/enu//mssql-jdbc-12.2.0.jre11.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>8a41dc93-956a-3a06-0000-000000000000</id>
            <parentGroupId>d38e7f6d-72d3-37d5-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments>Enhanced version
- consider parallel executions</comments>
            <contents>
                <connections>
                    <id>26da6b59-e118-30f7-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <versionedComponentId>c05e05db-ab5e-318b-8318-802378a76377</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
                        <id>6c3f8987-1426-3351-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                        <versionedComponentId>908fa48c-8000-3f30-87b0-f508bd8fa926</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>c6a24695-b4b8-3994-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f60c1a4b-563a-3842-9d07-383d1ff831f6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3e1518c9-483c-3b1f-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <versionedComponentId>db74bd92-b492-3699-b8a5-3ca4405f8706</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>9437e03b-c48e-3b3c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4bc61d9c-cc1c-33bd-9e97-5adb3f6969a3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>40a65bf5-f66c-3d64-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c0cc16bf-5930-3dc9-bf85-0eea2432984b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4ee6fd3a-4fe0-3e89-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <versionedComponentId>02f068c6-94e9-3d89-9d0e-17eebbddb9e0</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>b47bc6c7-189f-3d2b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>63c7f51c-324d-3ee9-9503-4b90c7c6624b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
                        <id>3317e92e-f389-313e-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                        <versionedComponentId>f18494ec-ae96-3c67-b8a4-c2692eaa3680</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>62b91636-6683-3222-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <versionedComponentId>3c0807f5-5ff7-3266-b277-f99777ce4d2d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>9437e03b-c48e-3b3c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4bc61d9c-cc1c-33bd-9e97-5adb3f6969a3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>b47bc6c7-189f-3d2b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>63c7f51c-324d-3ee9-9503-4b90c7c6624b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b59cb73d-9b11-349e-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <versionedComponentId>f96d5821-bff7-3def-a6b1-646f5d13e0af</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>7b69685d-4d4d-33ac-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>458dd9e5-c3bf-3f73-84b9-89aec98ce9ac</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>40a65bf5-f66c-3d64-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c0cc16bf-5930-3dc9-bf85-0eea2432984b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f4baa06e-5521-304a-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <versionedComponentId>1fd1311c-3299-32e2-a50b-a350beaa8793</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>40a65bf5-f66c-3d64-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>c0cc16bf-5930-3dc9-bf85-0eea2432984b</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>b47bc6c7-189f-3d2b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>63c7f51c-324d-3ee9-9503-4b90c7c6624b</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f87f0027-d334-3122-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <versionedComponentId>46db0bb1-2ee8-33c5-a2b8-8b842d1cff9c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>9437e03b-c48e-3b3c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>4bc61d9c-cc1c-33bd-9e97-5adb3f6969a3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>8a41dc93-956a-3a06-0000-000000000000</groupId>
                        <id>c6a24695-b4b8-3994-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f60c1a4b-563a-3842-9d07-383d1ff831f6</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>d2ef7993-8d8a-3306-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>-128.0</y>
                    </position>
                    <versionedComponentId>9f2f740e-c195-378b-8e0b-43958d5a938f</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>0cf61663-3597-37c4-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>0316241d-8aee-371d-9018-183516d8f17d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>3317e92e-f389-313e-0000-000000000000</id>
<type>OUTPUT_PORT</type>
<versionedComponentId>f18494ec-ae96-3c67-b8a4-c2692eaa3680</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>merged</selectedRelationships>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>94894d3d-2631-3ed6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>977be489-d21b-3fe1-af1f-fed687824ad9</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1cd04bcb-09d2-387d-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>47db0cb4-19d8-31b4-81c5-45881b2194c2</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>35e899ca-233a-354d-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>b15abf0d-30fa-3c6c-aaee-8c09fe1c46ef</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>08f6bc25-5b98-3927-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5ea98913-59c6-3954-9dc7-51f99ec0db27</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2ec81f35-0dea-3df6-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>9b749f19-8e99-3b4d-9d91-cc0d54e2c8b1</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>0060632d-b7af-34fb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4b22de27-e1b9-3459-a325-722aff34bf5e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>b3a79f8a-418e-3de6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6ee80923-13f5-3fa8-a14f-7a4c43911158</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>33f3548f-2205-3f18-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>f26d913a-7eb2-39e5-9cf5-410fbff48b15</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>94894d3d-2631-3ed6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>977be489-d21b-3fe1-af1f-fed687824ad9</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>35e899ca-233a-354d-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>b15abf0d-30fa-3c6c-aaee-8c09fe1c46ef</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4c6f2f91-c34e-35da-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>5e13f6cc-a74f-39f0-a9a9-d123fe23311c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>8e182002-8bfd-3336-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2b3bccd7-69f2-3275-86cb-d4ba3a99db20</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>6c3f8987-1426-3351-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>908fa48c-8000-3f30-87b0-f508bd8fa926</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4ceeccfa-3aa8-30ea-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>f3f4dfc3-a1b7-3a78-a0f8-9f8bfdb0f68a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>35e899ca-233a-354d-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>b15abf0d-30fa-3c6c-aaee-8c09fe1c46ef</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>b3a79f8a-418e-3de6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6ee80923-13f5-3fa8-a14f-7a4c43911158</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>59bb51df-eb21-3ef2-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>de10847d-69d0-39bc-a712-2440353d35a3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>0060632d-b7af-34fb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4b22de27-e1b9-3459-a325-722aff34bf5e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>a5ae7fa9-46bf-3577-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6b1306da-533f-310f-8076-067dbc71fcfd</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6470537a-d77d-3f7a-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>3da6582e-38bd-3fc6-a8ab-848479e6afd6</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>35e899ca-233a-354d-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>b15abf0d-30fa-3c6c-aaee-8c09fe1c46ef</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>8e182002-8bfd-3336-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2b3bccd7-69f2-3275-86cb-d4ba3a99db20</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>842d7e4d-ecf7-320e-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>cc264438-7180-32b2-b620-63700ee03857</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>0060632d-b7af-34fb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4b22de27-e1b9-3459-a325-722aff34bf5e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>08f6bc25-5b98-3927-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5ea98913-59c6-3954-9dc7-51f99ec0db27</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8e18b5ec-34ba-3ceb-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>a5f758ac-a777-3087-97ba-77efb2030b2d</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>a5ae7fa9-46bf-3577-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6b1306da-533f-310f-8076-067dbc71fcfd</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>6c3f8987-1426-3351-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>908fa48c-8000-3f30-87b0-f508bd8fa926</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a15dba62-d8e6-3c22-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>2e5873f3-c8f3-337c-ae86-5c5cf8134406</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>35e899ca-233a-354d-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>b15abf0d-30fa-3c6c-aaee-8c09fe1c46ef</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>a5ae7fa9-46bf-3577-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6b1306da-533f-310f-8076-067dbc71fcfd</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a16d33b9-4640-3bd8-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>4f028a59-1984-3cb9-a0b9-873ac4a29914</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>0060632d-b7af-34fb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4b22de27-e1b9-3459-a325-722aff34bf5e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>8e182002-8bfd-3336-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>2b3bccd7-69f2-3275-86cb-d4ba3a99db20</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>dc3d342f-b9f2-333b-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>6751dc7a-6ee1-3a0d-9e88-0fdfe9f84ecf</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>b3a79f8a-418e-3de6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6ee80923-13f5-3fa8-a14f-7a4c43911158</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>6c3f8987-1426-3351-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>908fa48c-8000-3f30-87b0-f508bd8fa926</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>f1b5af0b-3dbd-3838-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>a012915d-2b3e-36f2-b30f-9ecd626aa2ef</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>0060632d-b7af-34fb-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>4b22de27-e1b9-3459-a325-722aff34bf5e</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>original</selectedRelationships>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>94894d3d-2631-3ed6-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>977be489-d21b-3fe1-af1f-fed687824ad9</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>fc1c69de-c93e-30ad-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <versionedComponentId>36ad2d2e-1a46-38a6-9f17-c1f843647429</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>08f6bc25-5b98-3927-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>5ea98913-59c6-3954-9dc7-51f99ec0db27</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>d2ef7993-8d8a-3306-0000-000000000000</groupId>
<id>6c3f8987-1426-3351-0000-000000000000</id>
<type>INPUT_PORT</type>
<versionedComponentId>908fa48c-8000-3f30-87b0-f508bd8fa926</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>35e899ca-233a-354d-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <position>
<x>1240.0</x>
<y>88.0</y>
                            </position>
                            <versionedComponentId>b15abf0d-30fa-3c6c-aaee-8c09fe1c46ef</versionedComponentId>
                        </funnels>
                        <inputPorts>
                            <id>6c3f8987-1426-3351-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <position>
<x>-192.0</x>
<y>264.0</y>
                            </position>
                            <versionedComponentId>908fa48c-8000-3f30-87b0-f508bd8fa926</versionedComponentId>
                            <comments> </comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>IN</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>3317e92e-f389-313e-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <position>
<x>1600.0</x>
<y>472.0</y>
                            </position>
                            <versionedComponentId>f18494ec-ae96-3c67-b8a4-c2692eaa3680</versionedComponentId>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>OUT</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>0060632d-b7af-34fb-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <position>
<x>-80.0</x>
<y>696.0</y>
                            </position>
                            <versionedComponentId>4b22de27-e1b9-3459-a325-722aff34bf5e</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>
            <name>Log FlowFile Properties</name>
        </value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>
            <name>Output Format</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log FlowFile Properties</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Output Format</key>
        <value>Line per Attribute</value>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>25</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>08f6bc25-5b98-3927-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <position>
<x>496.0</x>
<y>-104.0</y>
                            </position>
                            <versionedComponentId>5ea98913-59c6-3954-9dc7-51f99ec0db27</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>
            <name>compression-format</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>97d7b5ba-44fb-398d-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>/*=================================================== ALL_CASE Load Complete ==================================*/

--STEP	4	:
drop table if exists dbo.TMP_CLDM_GEN_PATIENT_ADD ;
  
select  GC.*,
C.CONDITION_CD AS CONDITION_CD ,
p.PATIENT_local_id AS PATIENT_LOCAL_ID ,
P.PATIENT_FIRST_NAME AS PATIENT_FIRST_NM ,
P.PATIENT_MIDDLE_NAME AS PATIENT_MIDDLE_NM ,
P.PATIENT_LAST_NAME AS PATIENT_LAST_NM , 
P.PATIENT_PHONE_HOME AS PATIENT_HOME_PHONE ,
P.PATIENT_PHONE_EXT_HOME,
P.PATIENT_STREET_ADDRESS_1,
P.PATIENT_STREET_ADDRESS_2,
P.PATIENT_CITY,
P.PATIENT_STATE,
P.PATIENT_ZIP,
p.PATIENT_RACE_CALCULATED AS RACE ,
P.PATIENT_COUNTY,
P.PATIENT_DOB AS PATIENT_DOB ,   
P.PATIENT_AGE_REPORTED AS PATIENT_REPORTED_AGE, 
P.PATIENT_AGE_REPORTED_UNIT AS PATIENT_REPORTED_AGE_UNITS , 
P.PATIENT_CURRENT_SEX AS PATIENT_CURR_GENDER,  
 P.PATIENT_ENTRY_METHOD AS PATIENT_ELECTRONIC_IND,
 P.PATIENT_UID AS PATIENT_UID 
into dbo.TMP_CLDM_GEN_PATIENT_ADD 
from dbo.TMP_CLDM_ALL_CASE  as GC with ( nolock) 
left join RDB.dbo.D_PATIENT as p with ( nolock) ON GC.PATIENT_KEY = p.PATIENT_key
left join RDB.dbo.CONDITION as C with ( nolock) ON C.CONDITION_KEY = GC.CONDITION_KEY
AND P.PATIENT_KEY &lt;&gt; 1
;

update dbo.TMP_CLDM_GEN_PATIENT_ADD
set  PATIENT_HOME_PHONE=rtrim(PATIENT_HOME_PHONE)+' ext. '+rtrim(PATIENT_PHONE_EXT_HOME) 
where   (PATIENT_HOME_PHONE &lt;&gt;'' and PATIENT_PHONE_EXT_HOME &lt;&gt;'') 
;

update  dbo.TMP_CLDM_GEN_PATIENT_ADD
set PATIENT_HOME_PHONE=rtrim(PATIENT_HOME_PHONE)
where (PATIENT_HOME_PHONE &lt;&gt;'' and PATIENT_PHONE_EXT_HOME ='') 
;

update  dbo.TMP_CLDM_GEN_PATIENT_ADD
set PATIENT_HOME_PHONE='ext. '+rtrim(PATIENT_PHONE_EXT_HOME)
where (PATIENT_HOME_PHONE =''  and  PATIENT_PHONE_EXT_HOME &lt;&gt;'')
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',3,' GENERATING TMP_CLDM_GEN_PATIENT_ADD',(select count(1) from DBO.TMP_CLDM_GEN_PATIENT_ADD with(nolock)));

--STEP	5	:
drop table if exists dbo.TMP_CLDM_GEN_PAT_ADD_INV 
;

select GPA.*,
i.INV_LOCAL_ID 'INV_LOCAL_ID',
i.INVESTIGATION_STATUS 'INVESTIGATION_STATUS',
i.INV_CASE_STATUS 'INV_CASE_STATUS',
i.JURISDICTION_NM AS INV_JURISDICTION_NM ,
i.ILLNESS_ONSET_DT 'ILLNESS_ONSET_DT',
i.INV_START_DT 'INV_START_DT',
i.INV_RPT_DT 'INV_RPT_DT',
i.RPT_SRC_CD_DESC 'RPT_SRC_CD_DESC',
i.EARLIEST_RPT_TO_CNTY_DT 'EARLIEST_RPT_TO_CNTY_DT',
i.EARLIEST_RPT_TO_STATE_DT 'EARLIEST_RPT_TO_STATE_DT',
i.DIE_FRM_THIS_ILLNESS_IND 'DIE_FRM_THIS_ILLNESS_IND',
I.outbreak_ind 'OUTBREAK_IND',
I.DISEASE_IMPORTED_IND,
I.Import_Frm_Cntry AS IMPORT_FROM_COUNTRY ,
I.Import_Frm_State AS IMPORT_FROM_STATE ,
I.Import_Frm_Cnty AS IMPORT_FROM_COUNTY ,
I.Import_Frm_City AS IMPORT_FROM_CITY ,
i.CASE_RPT_MMWR_WK ,
i.CASE_RPT_MMWR_YR 'CASE_RPT_MMWR_YR',
i.DIAGNOSIS_DT 'DIAGNOSIS_DT',
i.HSPTLIZD_IND 'HSPTLIZD_IND',
i.HSPTL_ADMISSION_DT 'HSPTL_ADMISSION_DT',
I.HSPTL_DISCHARGE_DT,
I.HSPTL_DURATION_DAYS,
I.Transmission_mode,
I.CASE_OID,
i.INV_COMMENTS 'INV_COMMENTS',
em.ADD_TIME AS INV_ADD_TIME ,
em.LAST_CHG_TIME AS PHC_LAST_CHG_TIME ,
em.PROG_AREA_DESC_TXT AS PROGRAM_AREA_DESCRIPTION ,
i.record_status_cd
into dbo.TMP_CLDM_GEN_PAT_ADD_INV 
from dbo.TMP_CLDM_GEN_PATIENT_ADD as GPA with ( nolock) 
left join RDB.dbo.investigation as i with ( nolock) ON GPA.investigation_key=i.investigation_key
left join RDB.dbo.EVENT_METRIC_INC as em with ( nolock) ON em.event_uid = i.case_uid and i.investigation_key &lt;&gt; 1
WHERE (I.RECORD_STATUS_CD &lt;&gt; 'INACTIVE') 
AND (I.CASE_TYPE &lt;&gt; 'S')
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',4,' GENERATING TMP_CLDM_GEN_PAT_ADD_INV',(select count(1) from DBO.TMP_CLDM_GEN_PAT_ADD_INV with(nolock)));

--STEP	6	:
drop table if exists dbo.TMP_CLDM_GEN_PATCOMPL_INV_PROVIDER 
;


SELECT GPI. *,
PP.PROVIDER_FIRST_NAME,
PP.PROVIDER_LAST_NAME,
PP.PROVIDER_MIDDLE_NAME,
PP.PROVIDER_PHONE_WORK,
PP.PROVIDER_PHONE_EXT_WORK,
cast ( null as varchar(100)) as PHYSICIAN_NAME,
cast ( null as varchar(100)) as PHYSICIAN_PHONE 
into dbo.TMP_CLDM_GEN_PATCOMPL_INV_PROVIDER
FROM dbo.TMP_CLDM_GEN_PAT_ADD_INV AS GPI with ( nolock) 
LEFT JOIN RDB.dbo.D_PROVIDER AS PP with ( nolock) ON GPI.PHYSICIAN_KEY=PP.PROVIDER_KEY
;
 

  
update  dbo.TMP_CLDM_GEN_PATCOMPL_INV_PROVIDER 
set PHYSICIAN_NAME= cast(rtrim(PROVIDER_LAST_NAME) + ', ' + rtrim(PROVIDER_FIRST_NAME) as varchar(100));
  
update dbo.TMP_CLDM_GEN_PATCOMPL_INV_PROVIDER 
set PHYSICIAN_PHONE=rtrim(PROVIDER_PHONE_WORK) + ' ext. ' + rtrim(PROVIDER_PHONE_EXT_WORK)
where (PROVIDER_PHONE_WORK &lt;&gt;'' and PROVIDER_PHONE_EXT_WORK &lt;&gt;'') ;
  
update  dbo.TMP_CLDM_GEN_PATCOMPL_INV_PROVIDER 
set PHYSICIAN_PHONE=rtrim(PROVIDER_PHONE_WORK)
where (PROVIDER_PHONE_WORK &lt;&gt;'' and PROVIDER_PHONE_EXT_WORK ='') ;
  
update  dbo.TMP_CLDM_GEN_PATCOMPL_INV_PROVIDER 
set  PHYSICIAN_PHONE='ext. ' + rtrim(PROVIDER_PHONE_EXT_WORK)
where(PROVIDER_PHONE_WORK ='' and PROVIDER_PHONE_EXT_WORK &lt;&gt;'') ;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',5,' GENERATING TMP_CLDM_GEN_PATCOMPL_INV_PROVIDER',(select count(1) from DBO.TMP_CLDM_GEN_PATCOMPL_INV_PROVIDER with(nolock)));


--STEP	7	:
drop table if exists dbo.TMP_CLDM_GEN_PATCOMPL_INV_INVESTIGATOR 
;


SELECT GPI. *,
O.ORGANIZATION_NAME AS REPORTING_SOURCE 
INTO dbo.TMP_CLDM_GEN_PATCOMPL_INV_INVESTIGATOR 
FROM dbo.TMP_CLDM_GEN_PATCOMPL_INV_PROVIDER AS GPI  with ( nolock) 
LEFT JOIN RDB.dbo.D_ORGANIZATION AS O with ( nolock) ON GPI.RPT_SRC_ORG_KEY=O.ORGANIZATION_KEY
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',6,' GENERATING TMP_CLDM_GEN_PATCOMPL_INV_INVESTIGATOR',(select count(1) from DBO.TMP_CLDM_GEN_PATCOMPL_INV_INVESTIGATOR with(nolock)));

--STEP	8	:
drop table if exists dbo.TMP_CLDM_GEN_PATINFO_INV_PHY_RPTSRC_COND 
;

SELECT GPIPR.*,
C.CONDITION_SHORT_NM,
C.PROGRAM_AREA_DESC,
cast( null as datetime) as CONFIRMATION_DT,
cast( null as datetime) as EVENT_DATE
INTO dbo.TMP_CLDM_GEN_PATINFO_INV_PHY_RPTSRC_COND 
FROM dbo.TMP_CLDM_GEN_PATCOMPL_INV_INVESTIGATOR AS GPIPR  with ( nolock) 
LEFT JOIN RDB.dbo.CONDITION AS C with ( nolock) ON GPIPR.CONDITION_KEY=C.CONDITION_KEY
;
 

 update dbo.TMP_CLDM_GEN_PATINFO_INV_PHY_RPTSRC_COND
   set CONFIRMATION_DT = (SELECT min(CMG.[CONFIRMATION_DT] )
FROM  rdb.dbo.[CONFIRMATION_METHOD_GROUP]CMG with (nolock)
WHERE CMG.[INVESTIGATION_KEY] = dbo.TMP_CLDM_GEN_PATINFO_INV_PHY_RPTSRC_COND.investigation_key )
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',7,' GENERATING TMP_CLDM_GEN_PATINFO_INV_PHY_RPTSRC_COND',(select count(1) from DBO.TMP_CLDM_GEN_PATINFO_INV_PHY_RPTSRC_COND with(nolock)));

--STEP	9	:
/*
EXEC@return_value = [dbo].SP_UPDATE_EVENT_DATE
@batch_id = 999,
@Dataflow_Name = N'CASE_LAB_DATAMART',
@vTableName = N'dbo.TMP_CLDM_GEN_PATINFO_INV_PHY_RPTSRC_COND',
@ERROR_MSG = @ERROR_MSG_BACK;
*/

--STEP	10	:
drop table if exists dbo.TMP_CLDM_CASE_LAB_DATAMART
;


SELECT  distinct
INVESTIGATION_KEY,
PATIENT_LOCAL_ID,
INV_LOCAL_ID AS INVESTIGATION_LOCAL_ID,
PATIENT_FIRST_NM,
PATIENT_MIDDLE_NM ,
PATIENT_LAST_NM,
PATIENT_STREET_ADDRESS_1,
PATIENT_STREET_ADDRESS_2,
/*PATIENT_ADDRESS,  */
PATIENT_CITY,
PATIENT_STATE,
PATIENT_ZIP, 
PATIENT_COUNTY,
PATIENT_HOME_PHONE,
PATIENT_DOB,
PATIENT_REPORTED_AGE AS AGE_REPORTED,  
PATIENT_REPORTED_AGE_UNITS AS AGE_REPORTED_UNIT,
PATIENT_CURR_GENDER AS PATIENT_CURRENT_SEX,  
RACE,
INV_JURISDICTION_NM AS JURISDICTION_NAME,
   PROGRAM_AREA_DESCRIPTION,
INV_START_DT AS INVESTIGATION_START_DATE,
INV_CASE_STATUS AS CASE_STATUS,
condition_short_nm AS DISEASE,
CONDITION_CD AS DISEASE_CD,
REPORTING_SOURCE,
INV_COMMENTS AS GENERAL_COMMENTS,
PHYSICIAN_NAME,
   PHYSICIAN_PHONE,
   --LABORATORY_INFORMATION,
   CASE_OID AS PROGRAM_JURISDICTION_OID,
   INV_ADD_TIME AS PHC_ADD_TIME,
   PHC_LAST_CHG_TIME,
EVENT_DATE
INTO dbo.TMP_CLDM_CASE_LAB_DATAMART
FROM dbo.TMP_CLDM_GEN_PATINFO_INV_PHY_RPTSRC_COND with ( nolock) 
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',8,' GENERATING TMP_CLDM_CASE_LAB_DATAMART',(select count(1) from DBO.TMP_CLDM_CASE_LAB_DATAMART with(nolock)));
</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>1</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>flow1</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#5db09a</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                        <processors>
                            <id>8e182002-8bfd-3336-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <position>
<x>496.0</x>
<y>560.0</y>
                            </position>
                            <versionedComponentId>2b3bccd7-69f2-3275-86cb-d4ba3a99db20</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>
            <name>compression-format</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>abc0f61e-8298-3876-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>--STEP	15	:
drop table if exists dbo.TMP_CLDM_morbResults 
;

select * 
into dbo.TMP_CLDM_morbResults
from RDB.dbo.lab100   with ( nolock) 
where morb_rpt_key in 
(
   SELECT ME.MORB_RPT_KEY FROM RDB.dbo.MORBIDITY_REPORT_EVENT ME  with ( nolock)  
   INNER JOIN rdb.dbo.INVESTIGATION I with ( nolock) ON ME.INVESTIGATION_KEY = I.INVESTIGATION_KEY  AND I.INVESTIGATION_KEY in ( select INVESTIGATION_KEY from dbo.TMP_CLDM_All_Case ) WHERE (I.RECORD_STATUS_CD = 'ACTIVE')
) 
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',13,' GENERATING TMP_CLDM_morbResults',(select count(1) from DBO.TMP_CLDM_morbResults with(nolock)));
</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>1</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>flow4</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#5db09a</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                        <processors>
                            <id>94894d3d-2631-3ed6-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <position>
<x>1224.0</x>
<y>264.0</y>
                            </position>
                            <versionedComponentId>977be489-d21b-3fe1-af1f-fed687824ad9</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Merge Strategy</key>
        <value>
            <name>Merge Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>
            <name>Merge Format</name>
        </value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>
            <name>Attribute Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Correlation Attribute Name</name>
        </value>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>
            <dependencies>
                <dependentValues>Avro</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>mergecontent-metadata-strategy</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Minimum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Maximum Number of Entries</name>
        </value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Minimum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
        <value>
            <dependencies>
                <dependentValues>Bin-Packing Algorithm</dependentValues>
                <propertyName>Merge Strategy</propertyName>
            </dependencies>
            <name>Maximum Group Size</name>
        </value>
    </entry>
    <entry>
        <key>Max Bin Age</key>
        <value>
            <name>Max Bin Age</name>
        </value>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>
            <name>Maximum number of Bins</name>
        </value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Delimiter Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Header File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Header File</name>
        </value>
    </entry>
    <entry>
        <key>Footer File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Footer File</name>
        </value>
    </entry>
    <entry>
        <key>Demarcator File</key>
        <value>
            <dependencies>
                <dependentValues>Filename</dependentValues>
                <dependentValues>Text</dependentValues>
                <propertyName>Delimiter Strategy</propertyName>
            </dependencies>
            <dependencies>
                <dependentValues>Binary Concatenation</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Demarcator File</name>
        </value>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>
            <dependencies>
                <dependentValues>ZIP</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Compression Level</name>
        </value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>
            <dependencies>
                <dependentValues>ZIP</dependentValues>
                <dependentValues>TAR</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Keep Path</name>
        </value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>
            <dependencies>
                <dependentValues>TAR</dependentValues>
                <propertyName>Merge Format</propertyName>
            </dependencies>
            <name>Tar Modified Time</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Merge Strategy</key>
        <value>Bin-Packing Algorithm</value>
    </entry>
    <entry>
        <key>Merge Format</key>
        <value>Binary Concatenation</value>
    </entry>
    <entry>
        <key>Attribute Strategy</key>
        <value>Keep Only Common Attributes</value>
    </entry>
    <entry>
        <key>Correlation Attribute Name</key>
    </entry>
    <entry>
        <key>mergecontent-metadata-strategy</key>
        <value>Do Not Merge Uncommon Metadata</value>
    </entry>
    <entry>
        <key>Minimum Number of Entries</key>
        <value>4</value>
    </entry>
    <entry>
        <key>Maximum Number of Entries</key>
        <value>4</value>
    </entry>
    <entry>
        <key>Minimum Group Size</key>
        <value>0 B</value>
    </entry>
    <entry>
        <key>Maximum Group Size</key>
    </entry>
    <entry>
        <key>Max Bin Age</key>
    </entry>
    <entry>
        <key>Maximum number of Bins</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Delimiter Strategy</key>
        <value>Do Not Use Delimiters</value>
    </entry>
    <entry>
        <key>Header File</key>
    </entry>
    <entry>
        <key>Footer File</key>
    </entry>
    <entry>
        <key>Demarcator File</key>
    </entry>
    <entry>
        <key>Compression Level</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Keep Path</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Tar Modified Time</key>
        <value>${file.lastModifiedTime}</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>MergeContent</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>merged</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>original</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.MergeContent</type>
                        </processors>
                        <processors>
                            <id>a5ae7fa9-46bf-3577-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <position>
<x>496.0</x>
<y>136.0</y>
                            </position>
                            <versionedComponentId>6b1306da-533f-310f-8076-067dbc71fcfd</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>
            <name>compression-format</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>abc0f61e-8298-3876-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>/************ LAB INFORMATION STUFF STARTS FROM HERE *******************************************/

--STEP	11	:
drop table if exists dbo.TMP_CLDM_invlab ;

SELECT l.INVESTIGATION_KEY, l.LAB_TEST_KEY
into dbo.TMP_CLDM_invlab
FROM RDB.dbo.LAB_TEST_RESULT l   with ( nolock) 
INNER JOIN RDB.dbo.INVESTIGATION I with ( nolock) ON l.INVESTIGATION_KEY = I.INVESTIGATION_KEY
WHERE (l.LAB_TEST_KEY IN(SELECT  LAB_TEST_KEY FROM RDB.dbo.LAB_TEST)) 
AND (l.INVESTIGATION_KEY &lt;&gt; 1) AND (I.RECORD_STATUS_CD = 'ACTIVE')
AND l.INVESTIGATION_KEY in ( select INVESTIGATION_KEY from dbo.TMP_CLDM_All_Case )
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',9,' GENERATING TMP_CLDM_invlab',(select count(1) from DBO.TMP_CLDM_invlab with(nolock)));

--STEP	12	:
drop table if exists dbo.TMP_CLDM_both 
;
SELECT til.INVESTIGATION_KEY, til.LAB_TEST_KEY,lab_rpt_local_id 
into dbo.TMP_CLDM_both
from  dbo.TMP_CLDM_invlab til,
rdb.dbo.lab_test tl with ( nolock)
where til.LAB_TEST_KEY = tl.LAB_TEST_KEY
and til.INVESTIGATION_KEY is not null
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',10,' GENERATING TMP_CLDM_both',(select count(1) from DBO.TMP_CLDM_both with(nolock)));


--STEP	13	:
drop table if exists dbo.TMP_CLDM_inv2labs 
;
SELECT distinct b.investigation_key, b.lab_test_key,
l.lab_rpt_LOCAL_ID, l.LAB_RPT_RECEIVED_BY_PH_DT, l.SPECIMEN_COLLECTION_DT,
l.RESULTED_LAB_TEST_CD_DESC, l.RESULTEDTEST_VAL_CD_DESC, l.NUMERIC_RESULT_WITHUNITS, l.LAB_RESULT_TXT_VAL, l.LAB_RESULT_COMMENTS,
l.ELR_IND
into dbo.TMP_CLDM_inv2labs
  FROM dbo.TMP_CLDM_both b 
inner join RDB.dbo.lab100 l  with ( nolock) ON l.LAB_RPT_LOCAL_ID = b.LAB_RPT_LOCAL_ID
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',11,' GENERATING TMP_CLDM_inv2labs',(select count(1) from DBO.TMP_CLDM_inv2labs with(nolock)));
</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>1</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>flow2</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#5db09a</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                        <processors>
                            <id>b3a79f8a-418e-3de6-0000-000000000000</id>
                            <parentGroupId>d2ef7993-8d8a-3306-0000-000000000000</parentGroupId>
                            <position>
<x>496.0</x>
<y>320.0</y>
                            </position>
                            <versionedComponentId>6ee80923-13f5-3fa8-a14f-7a4c43911158</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.18.0</version>
                            </bundle>
                            <config>
<backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>
            <name>compression-format</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>
            <name>esql-fetch-size</name>
        </value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>
            <name>esql-auto-commit</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<maxBackoffPeriod>10 mins</maxBackoffPeriod>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>abc0f61e-8298-3876-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>--STEP	14	:
drop table if exists dbo.TMP_CLDM_invmorb 
;

SELECT ME.MORB_RPT_KEY, I.INVESTIGATION_KEY, I.INV_LOCAL_ID, MR.MORB_RPT_LOCAL_ID
into dbo.TMP_CLDM_invmorb
FROM RDB.dbo.MORBIDITY_REPORT_EVENT ME with ( nolock) 
INNER JOIN rdb.dbo.INVESTIGATION I with ( nolock) ON ME.INVESTIGATION_KEY = I.INVESTIGATION_KEY AND I.INVESTIGATION_KEY in ( select INVESTIGATION_KEY from dbo.TMP_CLDM_All_Case )
INNER JOIN rdb.dbo.MORBIDITY_REPORT MR with ( nolock) ON ME.MORB_RPT_KEY = MR.MORB_RPT_KEY 
WHERE (I.RECORD_STATUS_CD = 'ACTIVE')
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',12,' GENERATING TMP_CLDM_invmorb',(select count(1) from DBO.TMP_CLDM_invmorb with(nolock)));
</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>1</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-fetch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-auto-commit</key>
        <value>true</value>
    </entry>
</properties>
<retryCount>10</retryCount>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>flow3</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
<retry>false</retry>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
<retry>false</retry>
                            </relationships>
                            <state>STOPPED</state>
                            <style>
<entry>
    <key>background-color</key>
    <value>#5db09a</value>
</entry>
                            </style>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                    </contents>
                    <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
                    <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
                    <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
                    <flowfileConcurrency>SINGLE_BATCH_PER_NODE</flowfileConcurrency>
                    <flowfileOutboundPolicy>BATCH_OUTPUT</flowfileOutboundPolicy>
                    <name>Parallel_01</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>40a65bf5-f66c-3d64-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <position>
                        <x>928.0</x>
                        <y>616.0</y>
                    </position>
                    <versionedComponentId>c0cc16bf-5930-3dc9-bf85-0eea2432984b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>abc0f61e-8298-3876-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>-- STEP 27: 

Delete cld from  dbo.CASE_LAB_DATAMART cld
Inner Join [dbo].TMP_CLDM_CASE_LAB_DATAMART_FINAL  tcld ON   tcld.[INVESTIGATION_KEY]=cld.INVESTIGATION_KEY
;


Delete from dbo.case_lab_datamart
where investigation_key in (SELECT li.[INVESTIGATION_KEY] FROM [RDB].[dbo].[S_INVESTIGATION] si , [RDB].[dbo].[L_INVESTIGATION]li where RECORD_STATUS_CD = 'INACTIVE' and si.CASE_UID = li.CASE_UID)
;



-- STEP 28: 

insert into [dbo].CASE_LAB_DATAMART
([INVESTIGATION_KEY]
,[PATIENT_LOCAL_ID]
,[INVESTIGATION_LOCAL_ID]
,[PATIENT_FIRST_NM]
,[PATIENT_MIDDLE_NM]
,[PATIENT_LAST_NM]
,[PATIENT_STREET_ADDRESS_1]
,[PATIENT_STREET_ADDRESS_2]
,[PATIENT_CITY]
,[PATIENT_STATE]
,[PATIENT_ZIP]
,[PATIENT_COUNTY]
,[PATIENT_HOME_PHONE]
,[PATIENT_DOB]
,[AGE_REPORTED]
,[AGE_REPORTED_UNIT]
,[PATIENT_CURRENT_SEX]
,[RACE]
,[JURISDICTION_NAME]
,[PROGRAM_AREA_DESCRIPTION]
,[INVESTIGATION_START_DATE]
,[CASE_STATUS]
,[DISEASE]
,[DISEASE_CD]
,[REPORTING_SOURCE]
,[GENERAL_COMMENTS]
,[PHYSICIAN_NAME]
,[PHYSICIAN_PHONE]
,[LABORATORY_INFORMATION]
,[PROGRAM_JURISDICTION_OID]
,[PHC_ADD_TIME]
,[PHC_LAST_CHG_TIME]
,[EVENT_DATE]
,EARLIEST_SPECIMEN_COLLECT_DATE
)
SELECT distinct [INVESTIGATION_KEY]
,[PATIENT_LOCAL_ID]
,[INVESTIGATION_LOCAL_ID]
,[PATIENT_FIRST_NM]
,[PATIENT_MIDDLE_NM]
,[PATIENT_LAST_NM]
,[PATIENT_STREET_ADDRESS_1]
,[PATIENT_STREET_ADDRESS_2]
,[PATIENT_CITY]
,[PATIENT_STATE]
,[PATIENT_ZIP]
,[PATIENT_COUNTY]
,[PATIENT_HOME_PHONE]
,[PATIENT_DOB]
,[AGE_REPORTED]
,[AGE_REPORTED_UNIT]
,[PATIENT_CURRENT_SEX]
,[RACE]
,[JURISDICTION_NAME]
,[PROGRAM_AREA_DESCRIPTION]
,[INVESTIGATION_START_DATE]
,[CASE_STATUS]
,[DISEASE]
,[DISEASE_CD]
,[REPORTING_SOURCE]
,[GENERAL_COMMENTS]
,[PHYSICIAN_NAME]
,[PHYSICIAN_PHONE]
,cast([LABORATORY_INFORMATION] as varchar(4000))
,[PROGRAM_JURISDICTION_OID]
,[PHC_ADD_TIME]
,[PHC_LAST_CHG_TIME]
,[EVENT_DATE]
,EARLIEST_SPECIMEN_COLLECTION_DT
FROM [dbo].TMP_CLDM_CASE_LAB_DATAMART_FINAL
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',24,' GENERATING CASE_LAB_DATAMART',(select count(1) from DBO.CASE_LAB_DATAMART with(nolock)));


-- STEP 29: 
drop table if exists dbo.TMP_CASE_LAB_DATAMART_MODIFIED 
;

SELECT  *,SPECIMEN.SPECIMEN_COLLECTION_DT as SPECIMEN_COLLECTION_DT_2
into dbo.TMP_CASE_LAB_DATAMART_MODIFIED
FROM dbo.TMP_CLDM_CASE_LAB_DATAMART  case1
LEFT OUTER JOIN  dbo.TMP_SPECIMEN_COLLECTION_TABLE SPECIMEN with ( nolock) ON   CASE1.INVESTIGATION_KEY = SPECIMEN.[KEY]
;
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',25,'SP_COMPLETE',0);
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Final step</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>7b69685d-4d4d-33ac-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <position>
                        <x>928.0</x>
                        <y>888.0</y>
                    </position>
                    <versionedComponentId>458dd9e5-c3bf-3f73-84b9-89aec98ce9ac</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#e8e582</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>9437e03b-c48e-3b3c-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <position>
                        <x>296.0</x>
                        <y>616.0</y>
                    </position>
                    <versionedComponentId>4bc61d9c-cc1c-33bd-9e97-5adb3f6969a3</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#e8e582</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>b47bc6c7-189f-3d2b-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <position>
                        <x>928.0</x>
                        <y>176.0</y>
                    </position>
                    <versionedComponentId>63c7f51c-324d-3ee9-9503-4b90c7c6624b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>abc0f61e-8298-3876-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>--STEP	16	:
drop table if exists dbo.TMP_CLDM_morbLabResults ;
SELECT distinct a.investigation_key, 
b.resulted_lab_test_key,
a.MORB_RPT_LOCAL_ID as lab_rpt_LOCAL_ID , 
b.LAB_RPT_RECEIVED_BY_PH_DT, b.SPECIMEN_COLLECTION_DT,
b.RESULTED_LAB_TEST_CD_DESC, 
b.RESULTEDTEST_VAL_CD_DESC, 
b.NUMERIC_RESULT_WITHUNITS, 
b.LAB_RESULT_TXT_VAL, 
b.LAB_RESULT_COMMENTS
into dbo.TMP_CLDM_morbLabResults
 FROM dbo.TMP_CLDM_invmorb a 
inner join dbo.TMP_CLDM_morbResults b  on a.MORB_RPT_KEY = b.MORB_RPT_KEY
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',14,' GENERATING TMP_CLDM_morbLabResults',(select count(1) from DBO.TMP_CLDM_morbLabResults with(nolock)));


--STEP	17	:
drop table if exists dbo.TMP_CLDM_Inv2labs_final ;
select  * 
into dbo.TMP_CLDM_Inv2labs_final
from dbo.TMP_CLDM_Inv2labs
union
select  *,null 
from  dbo.TMP_CLDM_Morblabresults
; 
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',15,' GENERATING TMP_CLDM_Inv2labs_final',(select count(1) from DBO.TMP_CLDM_Inv2labs_final with(nolock)));


--STEP	18	:
drop table if exists dbo.TMP_CLDM_sample1

select investigation_key as [KEY] ,
 '' as Bigchunk 
into dbo.TMP_CLDM_sample1
from dbo.TMP_CLDM_CASE_LAB_DATAMART
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',16,' GENERATING TMP_CLDM_sample1',(select count(1) from DBO.TMP_CLDM_sample1 with(nolock)));


--STEP	19	:
drop table if exists dbo.TMP_CLDM_sample2

select investigation_key as 'KEY',
lab_test_key as  'SUBKEY',
--put(datepart((LAB_RPT_RECEIVED_BY_PH_DT)),mmddyy10.) as c1 'C1',
--put(datepart((SPECIMEN_COLLECTION_DT)),mmddyy10.) as c2 'C2',
FORMAT (LAB_RPT_RECEIVED_BY_PH_DT, 'MM/dd/yyyy ') as C1,
FORMAT (SPECIMEN_COLLECTION_DT, 'MM/dd/yyyy ') as C2,
rtrim(RESULTED_LAB_TEST_CD_DESC) as 'C3',
rtrim(RESULTEDTEST_VAL_CD_DESC) as  'C4',
rtrim(NUMERIC_RESULT_WITHUNITS) as  'C5',
substring(rtrim(LAB_RESULT_TXT_VAL),1,200) as  'C6',
substring(rtrim(LAB_RESULT_COMMENTS),1,200) as  'C7',
rtrim(LAB_RPT_LOCAL_ID) as  'C8',
  rtrim(ELR_IND) as  'c9'
into dbo.TMP_CLDM_sample2
from dbo.TMP_CLDM_inv2labs_final
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',17,' GENERATING TMP_CLDM_sample2',(select count(1) from DBO.TMP_CLDM_sample2 with(nolock)));

CREATE NONCLUSTERED INDEX [idx_tmp_sample2_key] ON [dbo].[TMP_CLDM_sample2]
(
[KEY] ASC
);

--STEP	20	:
drop table if exists dbo.TMP_CLDM_sample21
;
WITH lst AS (
SELECT *, ROW_NUMBER() 
over (
PARTITION BY [key] 
order by subkey
) AS RowNo 
FROM dbo.TMP_CLDM_sample2

)
SELECT * 
into dbo.TMP_CLDM_sample21
FROM lst WHERE RowNo &lt;= 9
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',18,' GENERATING TMP_CLDM_sample21',(select count(1) from DBO.TMP_CLDM_sample21 with(nolock)));


--STEP	21	:
drop table if exists dbo.TMP_CLDM_sample3 ;
select distinct [key], subkey,
(
'&lt;b&gt;Local ID:&lt;/b&gt; '  +  rtrim (coalesce(C8,''))  +  '&lt;br&gt;'  + 
'&lt;b&gt;Date Received by PH:&lt;/b&gt; '  + rtrim (coalesce(C1,''))  +  '&lt;br&gt;'  + 
'&lt;b&gt;Specimen Collection Date:&lt;/b&gt; '  +  rtrim (coalesce(C2,''))  +  '&lt;br&gt;'  + 
'&lt;b&gt;ELR Indicator:&lt;/b&gt;' +  rtrim (coalesce(c9,'')) +  '&lt;br&gt;'  + 
'&lt;b&gt;Resulted Test:&lt;/b&gt; '  +  (case when rtrim(coalesce(C3,''))='' THEN '' else rtrim(C3) END)  +  '&lt;br&gt;'  + 
'&lt;b&gt;Coded Result:&lt;/b&gt; '   +  (case when rtrim(coalesce(C4,''))='' THEN '' else rtrim(C4) END)  +  '&lt;br&gt;'  + 
'&lt;b&gt;Numeric Result:&lt;/b&gt; ' +  (case when rtrim(coalesce(C5,''))='' THEN '' else rtrim(C5) END)  +  '&lt;br&gt;'  + 
'&lt;b&gt;Text Result:&lt;/b&gt; '+  (case when rtrim(coalesce(C6,''))='' THEN '' else rtrim(C6) END)  +  '&lt;br&gt;'  + 
'&lt;b&gt;Comments:&lt;/b&gt; '   +(case when rtrim(coalesce(C7,''))='' THEN '' else rtrim(C7) END)
)as bigChunk
into dbo.TMP_CLDM_sample3
from dbo.TMP_CLDM_sample21
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',19,' GENERATING TMP_CLDM_sample3',(select count(1) from DBO.TMP_CLDM_sample3 with(nolock)));


--STEP	22	:
drop table if exists dbo.TMP_CLDM_sample4 ;

SELECT [key], bigChunk = 
STUFF((SELECT DISTINCT '  &lt;br&gt;&lt;br&gt;' + bigChunk
FROM dbo.TMP_CLDM_sample3 b 
WHERE b.[key] = a.[key] 
FOR XML PATH('')), 1, 2, '')
into dbo.TMP_CLDM_sample4
FROM dbo.TMP_CLDM_sample3 a
GROUP BY [key]
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',20,' GENERATING TMP_CLDM_sample4',(select count(1) from DBO.TMP_CLDM_sample4 with(nolock)));


--STEP	23	:
drop table if exists dbo.TMP_CLDM_sample5 ;
--create table sample5 as 
select [key] as investigation_key, bigChunk as LABORATORY_INFORMATION 
into dbo.TMP_CLDM_sample5
from dbo.TMP_CLDM_sample4;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',21,' GENERATING TMP_CLDM_sample5',(select count(1) from DBO.TMP_CLDM_sample5 with(nolock)));

--STEP	24	:
drop table if exists dbo.TMP_SPECIMEN_COLLECTION_TABLE 
;
select  investigation_key as 'KEY', 
min(SPECIMEN_COLLECTION_DT) as SPECIMEN_COLLECTION_DT 
into dbo.TMP_SPECIMEN_COLLECTION_TABLE
from dbo.TMP_CLDM_Inv2labs_final
group by investigation_key
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',22,' GENERATING TMP_SPECIMEN_COLLECTION_TABLE',(select count(1) from DBO.TMP_SPECIMEN_COLLECTION_TABLE with(nolock)));

--STEP	25	:
drop table if exists dbo.TMP_CLDM_CASE_LAB_DATAMART_FINAL ;
select tcld.*,
replace(replace(replace(replace(ts5.Laboratory_Information, '&amp;lt;', '&lt;'), '&amp;gt;', '&gt;'), '&amp;amp;', '&amp;') ,'', '&amp;trade;')as Laboratory_Information,
SPECIMEN_COLLECTION_DT as EARLIEST_SPECIMEN_COLLECTION_DT
into dbo.TMP_CLDM_CASE_LAB_DATAMART_FINAL
from dbo.TMP_CLDM_CASE_LAB_DATAMART tcld
left join  dbo.TMP_CLDM_sample5  ts5 with ( nolock) ON tcld.investigation_key = ts5.investigation_key 
  LEFT OUTER JOIN  dbo.TMP_SPECIMEN_COLLECTION_TABLE tspt with ( nolock) ON   tcld.INVESTIGATION_KEY = tspt.[KEY]
;

update dbo.TMP_CLDM_CASE_LAB_DATAMART_FINAL
set Laboratory_Information = substring(Laboratory_Information,9,len(Laboratory_Information))+'&lt;br&gt;&lt;br&gt;'
;

update dbo.TMP_CLDM_CASE_LAB_DATAMART_FINAL
set Laboratory_Information = cast([LABORATORY_INFORMATION] as varchar(3996))+'&lt;br&gt;'
 where len(Laboratory_Information) &gt;= 4000
;

update dbo.TMP_CLDM_CASE_LAB_DATAMART_FINAL
set EVENT_DATE = EARLIEST_SPECIMEN_COLLECTION_DT
where EARLIEST_SPECIMEN_COLLECTION_DT is not null
;
INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',23,' GENERATING TMP_CLDM_CASE_LAB_DATAMART_FINAL',(select count(1) from DBO.TMP_CLDM_CASE_LAB_DATAMART_FINAL with(nolock)));

/************ LAB INFORMATION STUFF ENDS HERE **************************************************/
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Next step</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>c6a24695-b4b8-3994-0000-000000000000</id>
                    <parentGroupId>8a41dc93-956a-3a06-0000-000000000000</parentGroupId>
                    <position>
                        <x>-272.0</x>
                        <y>168.0</y>
                    </position>
                    <versionedComponentId>f60c1a4b-563a-3842-9d07-383d1ff831f6</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.18.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>97d7b5ba-44fb-398d-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',1,'SP_Start',0);</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>/* Rakhesh: Currently only running for Incremental. we need to figure out if then else logic to run incremental &amp; full load*/
--STEP 3: Run INC or FULL load 
Drop table if exists dbo.TMP_CLDM_All_Case;  

SELECT INVESTIGATION.INVESTIGATION_KEY, RPT_SRC_ORG_KEY,INV_LOCAL_ID AS INVESTIGATION_LOCAL_ID,CONDITION_KEY,
       JURISDICTION_NM AS JURISDICTION_NAME, PATIENT_key, PHYSICIAN_KEY 
into dbo.TMP_CLDM_All_Case  
FROM RDB.dbo.INVESTIGATION  with ( nolock) 
LEFT OUTER JOIN RDB.dbo.CASE_COUNT with ( nolock) ON INVESTIGATION.INVESTIGATION_KEY =CASE_COUNT.INVESTIGATION_KEY 
WHERE CASE_TYPE='I'
AND INVESTIGATION.[LAST_CHG_TIME]  &gt;= '2023-03-13 00:00:00'   AND INVESTIGATION.[LAST_CHG_TIME]  &lt;  '2023-06-01 00:00:00'
  
UNION

SELECT inv.INVESTIGATION_KEY, RPT_SRC_ORG_KEY,INV_LOCAL_ID AS INVESTIGATION_LOCAL_ID,CONDITION_KEY,
       JURISDICTION_NM AS JURISDICTION_NAME, PATIENT_key, PHYSICIAN_KEY 
FROM RDB.dbo.INVESTIGATION inv with ( nolock) 
LEFT OUTER JOIN RDB.dbo.CASE_COUNT  cc with ( nolock) ON inv.INVESTIGATION_KEY =cc.INVESTIGATION_KEY 
WHERE CASE_TYPE='I'
and inv.INVESTIGATION_KEY in ( select [INVESTIGATION_KEY] FROM rdb.dbo.TEMP_UPDATED_LAB_INV_MAP   with ( nolock))

union
SELECT inv.INVESTIGATION_KEY, RPT_SRC_ORG_KEY,INV_LOCAL_ID AS INVESTIGATION_LOCAL_ID,CONDITION_KEY,
          JURISDICTION_NM AS JURISDICTION_NAME, PATIENT_key, PHYSICIAN_KEY 
FROM RDB.dbo.INVESTIGATION inv with ( nolock) 
LEFT OUTER JOIN RDB.dbo.CASE_COUNT  cc with ( nolock) ON inv.INVESTIGATION_KEY =cc.INVESTIGATION_KEY 
WHERE CASE_TYPE='I' and inv.INVESTIGATION_KEY in (select distinct(INVESTIGATION_KEY) FROM RDB.dbo.LAB_TEST_RESULT where  LAB_TEST_KEY in ( select lab_test_key FROM RDB.dbo.LAB_TEST where LAB_RPT_LAST_UPDATE_DT &gt;= '2023-03-13 00:00:00' and LAB_RPT_LAST_UPDATE_DT &lt;   '2023-06-01 00:00:00' ) and INVESTIGATION_KEY &lt;&gt; 1)

UNION
SELECT inv.INVESTIGATION_KEY, RPT_SRC_ORG_KEY,INV_LOCAL_ID AS INVESTIGATION_LOCAL_ID,CONDITION_KEY,
       JURISDICTION_NM AS JURISDICTION_NAME, PATIENT_key, PHYSICIAN_KEY 
FROM RDB.dbo.INVESTIGATION inv with ( nolock) 
LEFT OUTER JOIN RDB.dbo.CASE_COUNT  cc with ( nolock) ON inv.INVESTIGATION_KEY =cc.INVESTIGATION_KEY 
WHERE CASE_TYPE='I'
and inv.INVESTIGATION_KEY in ( select  INVESTIGATION_KEY from rdb.dbo.MORBIDITY_REPORT  inner join rdb.dbo.MORBIDITY_REPORT_EVENT on MORBIDITY_REPORT.MORB_RPT_KEY= MORBIDITY_REPORT_EVENT.MORB_RPT_KEY  where MORB_RPT_LAST_UPDATE_DT &gt;= '2023-03-13 00:00:00' and MORB_RPT_LAST_UPDATE_DT &lt;   '2023-06-01 00:00:00')

union
SELECT inv.INVESTIGATION_KEY, RPT_SRC_ORG_KEY,INV_LOCAL_ID AS INVESTIGATION_LOCAL_ID,CONDITION_KEY,
       JURISDICTION_NM AS JURISDICTION_NAME, PATIENT_key, PHYSICIAN_KEY 
FROM RDB.dbo.INVESTIGATION inv with ( nolock) 
LEFT OUTER JOIN RDB.dbo.CASE_COUNT  cc with ( nolock) ON inv.INVESTIGATION_KEY =cc.INVESTIGATION_KEY 
WHERE CASE_TYPE='I' and cc.patient_key in (select patient_key from rdb.dbo.d_patient where PATIENT_LAST_CHANGE_TIME &gt;= '2023-03-13 00:00:00' and PATIENT_LAST_CHANGE_TIME &lt;   '2023-06-01 00:00:00' group by PATIENT_LOCAL_ID,patient_key)
;
 

/* Rakhesh: Currently only running for Incremental. we need to figure out if then else logic to run incremental/full load
--Full Load
Drop table if exists dbo.TMP_CLDM_All_Case; 
SELECT INVESTIGATION.INVESTIGATION_KEY, RPT_SRC_ORG_KEY,INV_LOCAL_ID AS INVESTIGATION_LOCAL_ID,CONDITION_KEY,
       JURISDICTION_NM AS JURISDICTION_NAME, PATIENT_key, PHYSICIAN_KEY 
into dbo.TMP_CLDM_All_Case  
FROM RDB.dbo.INVESTIGATION  with ( nolock) 
LEFT OUTER JOIN RDB.dbo.CASE_COUNT with ( nolock) ON INVESTIGATION.INVESTIGATION_KEY =CASE_COUNT.INVESTIGATION_KEY 
WHERE CASE_TYPE='I'
; 
*/</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>INSERT INTO DBO.JOB_FLOW_LOG (BATCH_ID,DATAFLOW_NAME,PACKAGE_NAME,STATUS_TYPE,STEP_NUMBER,STEP_NAME,ROW_COUNT) VALUES((#{batch_id}),'CASE_LAB_DATAMART','RDB.CASE_LAB_DATAMART','START',2,' GENERATING  REBUILD TMP_CLDM_All_Case',(select count(1) from DBO.TMP_CLDM_All_Case with(nolock)));
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Identify INC or INI load</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>CaseLabDatamart_v3</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/15/2023 13:51:10 EDT</timestamp>
</template>
