source/ETL/Nifi_Templates/Sprint28_Demo_Template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>This Template contain the following SPROC, being called independently:
INV_LAB_FINDING
INV_OTHER
INV_RISK_FACTOR</description>
    <groupId>fc4922b1-0189-1000-8215-90f963948190</groupId>
    <name>Sprint28_Demo_Template</name>
    <snippet>
        <connections>
            <id>1517e657-3933-3230-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>1517e657-3933-3230-949e-77f4781dfc8f</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>1e8816d1-634f-30b0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1e8816d1-634f-30b0-b5ae-d0760e5d938e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>09d1ee62-4768-3e50-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>09d1ee62-4768-3e50-a3c8-fd2b540f1e49</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1d218e4f-5394-37c1-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>1e8816d1-634f-30b0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1e8816d1-634f-30b0-b5ae-d0760e5d938e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>bed4c37e-2cd4-388f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>24840a8a-77a1-3f80-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>1e8816d1-634f-30b0-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>1e8816d1-634f-30b0-b5ae-d0760e5d938e</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>d2d9a97f-44a1-3102-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>25f8a620-52a3-3c9d-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>25f8a620-52a3-3c9d-bd06-d21331f646b2</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>184.0</x>
                <y>1560.0</y>
            </bends>
            <bends>
                <x>1672.0</x>
                <y>1560.0</y>
            </bends>
            <bends>
                <x>1672.0</x>
                <y>264.0</y>
            </bends>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>11a151cf-d04e-357e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>11a151cf-d04e-357e-bf91-e02d55cc07db</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>09d1ee62-4768-3e50-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>09d1ee62-4768-3e50-a3c8-fd2b540f1e49</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3162a585-f513-3117-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1680.0</x>
                <y>1136.0</y>
            </bends>
            <bends>
                <x>1680.0</x>
                <y>264.0</y>
            </bends>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>11a151cf-d04e-357e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>11a151cf-d04e-357e-bf91-e02d55cc07db</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>bed4c37e-2cd4-388f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>3f0a5382-5df1-3488-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>3f0a5382-5df1-3488-be5a-909a7308d0ee</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>bed4c37e-2cd4-388f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>9e6491c0-8569-32fd-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9e6491c0-8569-32fd-9e2d-33757f854108</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>55887b9e-2a0a-3c87-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>55887b9e-2a0a-3c87-bfe0-f1108121797e</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1472.0</x>
                <y>712.0</y>
            </bends>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>11a151cf-d04e-357e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>11a151cf-d04e-357e-bf91-e02d55cc07db</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>unmatched</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>9e6491c0-8569-32fd-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9e6491c0-8569-32fd-9e2d-33757f854108</versionedComponentId>
            </source>
            <zIndex>3</zIndex>
        </connections>
        <connections>
            <id>5896b80a-0a9c-344d-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>5896b80a-0a9c-344d-939d-161656469615</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>09d1ee62-4768-3e50-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>09d1ee62-4768-3e50-a3c8-fd2b540f1e49</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>9e6491c0-8569-32fd-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9e6491c0-8569-32fd-9e2d-33757f854108</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6b3b744b-1327-36c6-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>6b3b744b-1327-36c6-a828-63ef06338416</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>c1f3a1dd-ecaf-33a3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c1f3a1dd-ecaf-33a3-ba5c-fffbad285494</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>633b2604-530f-341f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>633b2604-530f-341f-8e0b-38e02244474f</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8320b2e9-7e99-3dc2-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>8320b2e9-7e99-3dc2-b207-30da4f5aa76b</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1472.0</x>
                <y>504.0</y>
            </bends>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>11a151cf-d04e-357e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>11a151cf-d04e-357e-bf91-e02d55cc07db</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>c1f3a1dd-ecaf-33a3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c1f3a1dd-ecaf-33a3-ba5c-fffbad285494</versionedComponentId>
            </source>
            <zIndex>4</zIndex>
        </connections>
        <connections>
            <id>be8881dd-915f-3d63-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>be8881dd-915f-3d63-8915-f04d297e62ad</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>11a151cf-d04e-357e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>11a151cf-d04e-357e-bf91-e02d55cc07db</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>633b2604-530f-341f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>633b2604-530f-341f-8e0b-38e02244474f</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c27d41e5-eb53-320f-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>c27d41e5-eb53-320f-9724-e91c5bc1f95a</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>d2d9a97f-44a1-3102-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>matched</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>9e6491c0-8569-32fd-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9e6491c0-8569-32fd-9e2d-33757f854108</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>eaee5099-09b6-377e-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>1664.0</x>
                <y>1016.0</y>
            </bends>
            <bends>
                <x>1664.0</x>
                <y>264.0</y>
            </bends>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>11a151cf-d04e-357e-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>11a151cf-d04e-357e-bf91-e02d55cc07db</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <selectedRelationships>retry</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>d2d9a97f-44a1-3102-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>5</zIndex>
        </connections>
        <connections>
            <id>f285c2bf-9e50-3e20-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>f285c2bf-9e50-3e20-b991-2e550aa5d609</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>9e6491c0-8569-32fd-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>9e6491c0-8569-32fd-9e2d-33757f854108</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>c1f3a1dd-ecaf-33a3-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>c1f3a1dd-ecaf-33a3-ba5c-fffbad285494</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f4361b8f-9cac-3d5b-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>f4361b8f-9cac-3d5b-9000-4338812e7158</versionedComponentId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>633b2604-530f-341f-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>633b2604-530f-341f-8e0b-38e02244474f</versionedComponentId>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>5a47729e-32f0-3f2f-0000-000000000000</groupId>
                <id>5b1059fb-3f01-32e1-0000-000000000000</id>
                <type>PROCESSOR</type>
                <versionedComponentId>5b1059fb-3f01-32e1-853e-6fbd7cb57106</versionedComponentId>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>d86eee8f-71e2-3314-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <versionedComponentId>d86eee8f-71e2-3314-9554-a39d80129b0c</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>AL_DB_SQLServer</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:sqlserver://cdc-nbs-alabama-rds-mssql.czya31goozkz.us-east-1.rds.amazonaws.com:1433;integratedSecurity=false;encrypt=false;databaseName=nbs_odse_2021_08_24;user=admin;password=hW61W1Z5!xX1;authenticationScheme=nativeAuthentication;</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.microsoft.sqlserver.jdbc.SQLServerDriver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/Users/SubbaReddyAlla/nifi/nifi-1.23.0/drivers/mssql-jdbc-12.4.0.jre11.jar</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processors>
            <id>09d1ee62-4768-3e50-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>1072.0</y>
            </position>
            <versionedComponentId>09d1ee62-4768-3e50-a3c8-fd2b540f1e49</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sql-pre-query</key>
                        <value>
                            <name>sql-pre-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sql-post-query</key>
                        <value>
                            <name>sql-post-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>
                            <name>dbf-normalize</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>
                            <name>dbf-user-logical-types</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression-format</key>
                        <value>
                            <name>compression-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>
                            <name>esql-max-rows</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>
                            <name>esql-output-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-fetch-size</key>
                        <value>
                            <name>esql-fetch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-auto-commit</key>
                        <value>
                            <name>esql-auto-commit</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>d86eee8f-71e2-3314-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>sql-pre-query</key>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>EXEC rdb.dbo.sp_CLEAR_INV_LAB_FINDING ${batch_id};</value>
                    </entry>
                    <entry>
                        <key>sql-post-query</key>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>compression-format</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-fetch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-auto-commit</key>
                        <value>true</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>INV_LAB_FINDING</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <processors>
            <id>11a151cf-d04e-357e-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <position>
                <x>1296.0</x>
                <y>200.0</y>
            </position>
            <versionedComponentId>11a151cf-d04e-357e-bf91-e02d55cc07db</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>
                            <name>Log FlowFile Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>
                            <name>Output Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>Line per Attribute</value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Failure_Log</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>1e8816d1-634f-30b0-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <position>
                <x>592.0</x>
                <y>1272.0</y>
            </position>
            <versionedComponentId>1e8816d1-634f-30b0-b5ae-d0760e5d938e</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>
                            <name>Log FlowFile Properties</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>
                            <name>Output Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log FlowFile Properties</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Output Format</key>
                        <value>Line per Attribute</value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>25</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Success_Log</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>5b1059fb-3f01-32e1-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <position>
                <x>592.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>5b1059fb-3f01-32e1-853e-6fbd7cb57106</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 min</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>633b2604-530f-341f-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <position>
                <x>592.0</x>
                <y>200.0</y>
            </position>
            <versionedComponentId>633b2604-530f-341f-8e0b-38e02244474f</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>Database Connection Pooling Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sql-pre-query</key>
                        <value>
                            <name>sql-pre-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>
                            <name>SQL select query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sql-post-query</key>
                        <value>
                            <name>sql-post-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>
                            <name>Max Wait Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>
                            <name>dbf-normalize</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>
                            <name>dbf-user-logical-types</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression-format</key>
                        <value>
                            <name>compression-format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>
                            <name>dbf-default-precision</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>
                            <name>dbf-default-scale</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>
                            <name>esql-max-rows</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>
                            <name>esql-output-batch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-fetch-size</key>
                        <value>
                            <name>esql-fetch-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>esql-auto-commit</key>
                        <value>
                            <name>esql-auto-commit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>batch_id</key>
                        <value>
                            <name>batch_id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Database Connection Pooling Service</key>
                        <value>d86eee8f-71e2-3314-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>sql-pre-query</key>
                    </entry>
                    <entry>
                        <key>SQL select query</key>
                        <value>select max(batch_id) as batch_id from rdb.dbo.job_flow_log;
--select max(batch_id)-(max(batch_id)+1) as batch_id from rdb.dbo.job_flow_log;</value>
                    </entry>
                    <entry>
                        <key>sql-post-query</key>
                    </entry>
                    <entry>
                        <key>Max Wait Time</key>
                        <value>0 seconds</value>
                    </entry>
                    <entry>
                        <key>dbf-normalize</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>dbf-user-logical-types</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>compression-format</key>
                        <value>NONE</value>
                    </entry>
                    <entry>
                        <key>dbf-default-precision</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>dbf-default-scale</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-max-rows</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-output-batch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-fetch-size</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>esql-auto-commit</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>batch_id</key>
                        <value>select max(batch_id) as batch_id from rdb.dbo.job_flow_log;</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Get_Batch_ID</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
        </processors>
        <processors>
            <id>9e6491c0-8569-32fd-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <position>
                <x>592.0</x>
                <y>648.0</y>
            </position>
            <versionedComponentId>9e6491c0-8569-32fd-9e2d-33757f854108</versionedComponentId>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>
                            <name>Return Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>
                            <name>Path Not Found Behavior</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>
                            <name>Null Value Representation</name>
                        </value>
                    </entry>
                    <entry>
                        <key>batch_id</key>
                        <value>
                            <name>batch_id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Return Type</key>
                        <value>auto-detect</value>
                    </entry>
                    <entry>
                        <key>Path Not Found Behavior</key>
                        <value>ignore</value>
                    </entry>
                    <entry>
                        <key>Null Value Representation</key>
                        <value>empty string</value>
                    </entry>
                    <entry>
                        <key>batch_id</key>
                        <value>$.batch_id</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Content_to_Attribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unmatched</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
        </processors>
        <processors>
            <id>bed4c37e-2cd4-388f-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <position>
                <x>1176.0</x>
                <y>1072.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>d86eee8f-71e2-3314-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>EXEC rdb.dbo.sp_D_INV_RISK_FACTOR ${batch_id};</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>INV_RISK_FACTOR</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
        <processors>
            <id>c1f3a1dd-ecaf-33a3-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <position>
                <x>592.0</x>
                <y>440.0</y>
            </position>
            <versionedComponentId>c1f3a1dd-ecaf-33a3-ba5c-fffbad285494</versionedComponentId>
            <bundle>
                <artifact>nifi-avro-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JSON container options</key>
                        <value>
                            <name>JSON container options</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Wrap Single Record</key>
                        <value>
                            <name>Wrap Single Record</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Avro schema</key>
                        <value>
                            <name>Avro schema</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JSON container options</key>
                        <value>array</value>
                    </entry>
                    <entry>
                        <key>Wrap Single Record</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Avro schema</key>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertAvroToJSON</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
        </processors>
        <processors>
            <id>d2d9a97f-44a1-3102-0000-000000000000</id>
            <parentGroupId>5a47729e-32f0-3f2f-0000-000000000000</parentGroupId>
            <position>
                <x>592.0</x>
                <y>952.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.23.0</version>
            </bundle>
            <config>
                <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
                            <name>JDBC Connection Pool</name>
                        </value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>
                            <name>putsql-sql-statement</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>
                            <name>Support Fragmented Transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>
                            <name>database-session-autocommit</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                        <value>
                            <name>Transaction Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>
                            <name>Obtain Generated Keys</name>
                        </value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>
                            <name>rollback-on-failure</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>JDBC Connection Pool</key>
                        <value>d86eee8f-71e2-3314-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>putsql-sql-statement</key>
                        <value>EXEC rdb.dbo.sp_D_INV_OTHER ${batch_id};</value>
                    </entry>
                    <entry>
                        <key>Support Fragmented Transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>database-session-autocommit</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Transaction Timeout</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>Obtain Generated Keys</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>rollback-on-failure</key>
                        <value>false</value>
                    </entry>
                </properties>
                <retryCount>10</retryCount>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>INV_OTHER</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>retry</name>
                <retry>false</retry>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
                <retry>false</retry>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutSQL</type>
        </processors>
    </snippet>
    <timestamp>08/17/2023 16:56:39 EDT</timestamp>
</template>
